body{
    background-color: black;
    text-align: center;
}
p{
    color: grey;
}

h1 , h3, h5, h6{
    color: white;
    margin-left: 3%;
}
h2{
    color: white;
    text-align: left;
    margin: 3%;
}
h4{
    color: white;
    margin-top: 3%;

}
h1:hover{
    color: red;
}

/* top section */

.Top-section{
    text-align: center;
}
.Top-img{
   margin: 3%;
    /* width: 10%; */
    
   
}

/* navBar section */
.navbar{
    margin-left: 3%;
    margin-right: 3%;
}


/* Photos Section */
.photo-grid{
    text-align: center;
    margin:3%;
}
.grid-img{
  
    text-align: center;
    padding:10px;
    border-radius: 8px;
} 
.grid-img:hover{
    opacity: 50%;
}

/* footer section */

#footer{
    text-align: center;
    margin: 3%;
    padding: 10px;
}
i{
    padding: 10px;
    color: grey;
}
i:hover{
    color: blanchedalmond;
}


/* Gallary section */

.gallary-vdo{
    
    padding: 1%;
}

/* contact section */
.contact-btn{
    text-align: center;
   margin: 3% auto;
}
.contact-info{
    padding-left: 5%;
    text-align: left;
    margin: 3% 0 3% 0;

}

.contact {
    padding-left: 5%;
    /* width: 50%; */
    text-align: left;
    margin: 3% auto;
    color: white;
}

#navbarNav{
    text-align: left;
}


@media ( max-width: 800px) { 
    .Top-img{
        margin-top: 2%;
        margin-bottom: 2%;
        width: 400px;
        height: 200px;
       
    }
    .navbar{
     margin: auto;
    }
    #navbarNav{
        text-align: left;
    }

    .contact{
        position: relative;
        width: 80%;
        text-align: left;
        margin: 3% 25%;
        color: white;
    }
    .contact-info{
        position: relative;
        width: 80%;
        text-align: left;
        margin: 3% 25%;
        color: white;
    }
 }